<nav id="lazyscroll">
  <div class="wrapper">
    <img class="logo" src="img/logo.svg" alt="Logotype" />
    <ul class="menu">
      <li>
        <a href="#">Продукция</a>
        <!--<ul class="submenu">
          <li>
            <a href="#">Тонометры</a>
          </li>
          <li>
            <a href="#">Стетоскопы</a>
          </li>
          <li>
            <a href="#">Для респираторной терапии</a>
          </li>
          <li>
            <a href="#">Аппликоторы Ляпко</a>
          </li>
          <li>
            <a href="#">Разное</a>
          </li>
        </ul>-->
      </li>
      <li>
        <a href="#">Партнеры</a>
      </li>
      <li>
        <a href="#">Торговые марки</a>
      </li>
      <li>
        <a href="#">О нас</a>
      </li>
      <li>
        <a href="#">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
