<!DOCTYPE html>
<!-- <html manifest="my.appcache"> -->
<html>
  <head>
      <link lang="en">
      <title>Sample</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <script src="ld.json" type="application/ld+json"></script>
      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/style.css">
      <!-- <link rel="stylesheet" href="./css/flaticon.css"> -->
      <link rel="stylesheet" href="./css/mobile.css" media="screen and (max-width: 960px)">
      <script src="./js/main.js"></script>

  </head>
  <body>



  </body>
</html>
