<!DOCTYPE html>
<!-- <html manifest="my.appcache"> -->
<html>
  <head>
      <link lang="en">
      <title>Sample</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/style.css">
      <!-- <link rel="stylesheet" href="./css/flaticon.css"> -->
      <!-- <link rel="stylesheet" href="./css/mobile.css" media="screen and (max-width: 1100px)"> -->

      <script src="./js/main.js"></script>

  </head>
  <body>

    //= _navigation.html
    <header id="home">
      <div class="wrapper">
        <div class="container">
          <h1>Купейческий дом Донбаса</h1>
          <p>В каталоге вы найдете огромное количество разнообразной продукции для вашего здоровья и здоровья вашей семьи.</p>
          <a class="ghost-button" href="#products">Смотреть каталог</a>
        </div>
      </div>
    </header>
    <section id="products">
      <div class="wrapper">
        <h2>Продукция</h2>
        <div class="content">
          <aside>
            <div class="slide">
              <div class="filter-container">

              </div>
              <div class="basket-container">

              </div>
            </div>
          </aside>
          <article>

          </article>
        </div>
      </div>
    </section>
    <section id="trademarks">
      <div class="wrapper">
        <h2>Торговые марки</h2>
        //= _trademarks.html
      </div>
    </section>
    <section id="partners">
      <div class="wrapper">
        <h2>Партнеры</h2>
        <div class="content">
          <img src="img/partners/arnica.svg" alt="arnica">
          <img src="img/partners/va.svg" alt="va">
          <img src="img/partners/sarepta.svg" alt="sarepta">
          <img src="img/partners/drugstore.svg" alt="drugstore">
        </div>
      </div>
    </section>
    <section id="about">
      <div class="wrapper">
        <h2>О нас</h2>
        //= _description.html
      </div>
    </section>
    <footer id="contacts">
      <div class="wrapper">
        <h2>Контакты</h2>
        <div class="content">
          <div>
            <p>
              <b>Бугаев Владимир Сергеевич</b><br />
              <a href="tel:+380509491502">+38(050) 949-15-02</a><br />
              <a href="mailto:bugaev.kdd@mail.ru">bugaev.kdd@mail.ru</a>
            </p>
            <p>
              <b>Антонов Сергей Михайлович</b><br />
              <a href="tel:+380504730805">+38(050) 473-08-05</a><br />
              <a href="mailto:sergey.antonov-kdd@mail.ru">sergey.antonov-kdd@mail.ru</a><br />
            </p>
          </div>
          <div>
            <p>
              Адрес:<br />
              г.Донецк, проспект Ильича 44
            </p>
            <p>
              Время работы:<br />
              Пн-Пт c 9.00 до 17:00
            </p>
          </div>
        </div>
      </div>
      <div class="copyright">
        Copyright (c) 2017 Copyright Holder All Rights Reserved.
      </div>
    </footer>
    <div class="modalbox">
      <div class="window" id="modalbox">
        <div class="panel">
          <span class="caption">asdasdasdasd</span>
          <button class="close">Закрыть</button>
        </div>
        <div class="content">

        </div>
      </div>
    </div>
  </body>
</html>
