<!DOCTYPE html>
<!-- <html manifest="my.appcache"> -->
<html>
  <head>
      <link lang="en">
      <title>Sample</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/style.css">
      <!-- <link rel="stylesheet" href="./css/flaticon.css"> -->
      <link rel="stylesheet" href="./css/mobile.css" media="screen and (max-width: 1100px)">

      <script src="./js/main.js"></script>

  </head>
  <body>

    //= _navigation.html

    <section id="products">
      <div class="wrapper">
        <h2>Продукция</h2>
        <div class="content">
          <aside>
            <div class="slide">
              <div class="filter-container">

              </div>
              <div class="basket-container">

              </div>
            </div>
          </aside>
          <article>

          </article>
        </div>
      </div>
    </section>
    <section id="trademarks">
      <div class="wrapper">
        <h2>Торговые марки</h2>

      </div>
    </section>
    <section id="partners">
      <div class="wrapper">
        <h2>Партнеры</h2>

      </div>
    </section>
    <section id="about">
      <div class="wrapper">
        <h2>О нас</h2>
        //= _description.html
      </div>
    </section>
    <footer id="contacts">
      <div class="wrapper">
        <h2>Контакты</h2>

      </div>
    </footer>
    <div class="modalbox">
      <div class="window" id="modalbox">
        <div class="panel">
          <span class="caption">asdasdasdasd</span>
          <button class="close">Закрыть</button>
        </div>
        <div class="content">

        </div>
      </div>
    </div>
  </body>
</html>
