/* VARIABLES */
$primary_color: #4682b4;


/* ICONFONT */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
/* GOOGLE FONT */
@import url('./_roboto.css');

/* COMMON */
*:focus{
  outline: none;
}
body {
  background: lightgray;
  font-family: Roboto;
  font-weight: 400;
}
.wrapper {
  display: block;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1em;
}
//MIXIN
@mixin pseudoElement($type) {
    content: '';
    display: block;
    position: absolute;
    @if $type == 'arrow' {
      width: 0;
      height: 0;
    }
}
@mixin lazyLoadImage {
  background: lightgray url(../img/spiner.svg) 50% 50% no-repeat;
}
@mixin multyCollumn {
  display: table;
  width: 100%;
  & > *{
    display: table-cell;
    vertical-align: top;
    &:first-of-type{
      padding-right: 1em;
      text-align: justify;
    }
    &:nth-of-type(2) {
      text-align: center;
    }
  }
}
/* HEADER */
header {
  height: 100vh;
  padding-top: 5em;
  box-sizing: border-box;
  background: url(../img/header-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  border-bottom: 1px solid white;
  .wrapper{
    position: relative;
    height: 100%;
  }
  .container{
    color: white;
    text-shadow: 0 0 25px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.5);
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    transform: rotateY(-50%);
  }
}
.ghost-button{
  background: none;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0 2em;
  line-height: 3em;
  height: 3em;
  &:hover{
    background: white;
    color: black;
    text-shadow: none;
  }
}

/* NAVIGATION */
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid $primary_color;
  box-shadow: 0 0 1em rgba(0,0,0,.1);

  & > * {
    height: 5em;
    line-height: 5em;
  }

  .logo {
    height: 4em;
    margin-top: .5em;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  .menu {
    float: right;

    a {
      display: block;
      padding: 0 1em;
      color: inherit;
      text-decoration: none;
      background: white;
    }
    li {
      display: inline-block;
      &:hover{
        & > a{
          background: $primary_color;
          color: white;
        }
        .submenu {
          opacity: 1;
          pointer-events: auto;
          line-height: 3em;
        }
      }
    }
  }
  .submenu {
    line-height: 2em;
    position: absolute;
    padding: .5em 0 0 0;
    opacity:  0;
    pointer-events: none;
    transition: all .2s ease-in-out;
    transform: translateX(-25%);

    li {
      display: block;
      background: white;

      &:first-of-type {
        border-top: 1px solid $primary_color;

        &::before {
          @include pseudoElement('arrow');
          top: -0.5em;
          left: 50%;
          width: 0;
          height: 0;
          border: 1em  solid transparent;
          border-top: none;
          border-bottom-color: $primary_color;
          transform: translateX(-50%);
        }
        &::after {
          @include pseudoElement('arrow');
          top: calc(-0.5em + 2px);
          left: 50%;
          width: 0;
          height: 0;
          border: 1em  solid transparent;
          border-top: none;
          border-bottom-color: white;
          transform: translateX(-50%);
        }
        &:hover::after {
          border-bottom-color: $primary_color;
        }
      }
    }
  }
}

/* SECTIONS */
section, footer {
  padding: 4em 0;

  h2, h3 {
    font-weight: 500;
    text-align: center;
  }
}

/* PRODUCT */
#products .content {
  width: 100%;
  display: table;
  padding: 2em 0;

  & > *{
    display: table-cell;
    vertical-align: top;
  }
  aside {
    width: 15em;
    border-right: 1px solid lightgray;
    margin-right: 1em;
    box-sizing: border-box;
    padding: 0 1em;
    .slide{
      position: relative;
      padding: 1em 0;
    }
    span{
      margin: .5em 0;
      display: block;
    }
    input, select{
      display: block;
      width: 100%;
      background: white;
      border: 1px solid lightgray;
      box-sizing: border-box;
      padding: 0 .5em;
      line-height: 2em;
      height: 2em;
      &:focus{
        outline: 2px solid $primary_color;
      }
    }
  }
  label{
    display: block;
    &.inline input{
      margin: .3em 0;
    }
  }
  hr {
    border:none;
    margin: 1em 0;
    border-bottom: 1px solid lightgray;
  }

  article {
    padding: 0 0 0 2em;
    position: relative;
  }
}
.no-data {
  border: 1px solid lightgray;
  padding: 1em 2em;
  text-align: center;
}
.product {
  display: inline-block;
  border: 1px solid lightgray;
  padding: 1em;
  margin: 1em;
  width: calc(30% - 3em);
  background: white;

  img{
    @include lazyLoadImage;
    width: 100%;
    min-height: 5em;
  }

  h3{
    text-align: center;
    font-weight: 400;
  }

  .panel{
    display: flex;
    width: calc(100% + 1em);
    margin-right: -1em;
    & > * {
      flex: 1 1 1em;
      margin: .2em;
      text-align: center;
      line-height: 2em;
      padding: 0;
      display: inline-block;
      vertical-align: baseline;
      box-sizing: border-box;
    }
    .price{
      border: 1px solid rgb(223, 199, 102);
      flex-grow: 4;
      background: rgb(240, 235, 207);
      padding: 0 .5em;
      white-space: nowrap;
    }
    .buy{
      flex: 10 1 1em;
      margin-right: 0;
      background: transparent;
      border: 1px solid transparent;
    }
  }

  &:hover, &.focus, &.in-basket{
    border-color: $primary_color;
    outline: 3px solid $primary_color;

    .buy{
      background-color: $primary_color;
      color: white;
      cursor: pointer;
    }
  }
  &.in-basket{
    border-color: rgb(25, 158, 90);
    outline-color: rgb(25, 158, 90);
    .buy{
      background-color: rgb(25, 158, 90);
    }
  }
}
/* BASKET */
span.price {
  border: 1px solid rgb(223, 199, 102);
  flex-grow: 4;
  background: rgb(240, 235, 207);
  padding: .3em 1em;
  white-space: nowrap;
  text-align: center;
}
#basket{
  border: 1px solid lightgray;
  margin-top: 3em;
  padding: .5em;
  .action{
    background: $primary_color;
    border:none;
    color:white;
    display: block;
    width: 100%;
    line-height: 2em;
    cursor: pointer;
  }
}

/* FOOTER */
footer {
  background: #282a34;
  color: lightgray;
  padding-bottom: 0;
  h2 {
    color: white;
  }
  a {
    color: inherit;
    &:hover{
      color: $primary_color;
    }
  }
  .content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    & > * {
      width: 17em;
    }
  }
  .copyright{
    background: black;
    color: gray;
    margin-top: 3em;
    padding: 1em 0;
    text-align: center;
    opacity: .3;
  }
}
#products {
  background-color: #f6f7f7;
}
#trademarks {
  background-color: $primary_color;
  color: white;
  box-shadow: inset 0 0 5em rgba(0,0,0,.3);
}
#partners {
  background-color: white;
  .content{
    text-align: center;
    img{
      height: 5em;
      margin: 2em;
      filter: grayscale(40);
      &:hover{
        filter: none;
      }
    }
  }
}
#about {
  background-color: rgb(228, 240, 245);
  border-top: 1px solid rgb(204, 223, 231);
}

/* MODALBOX */
.modalbox{
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  .window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    background: white;
    padding: .5em;
    outline: 6px solid $primary_color;
    .panel{
      border-bottom: 1px solid lightgray;
      line-height: 2em;
      span{
        padding: 0 .5em;
      }
      .close {
        line-height: 2em;
        padding: 0 2em 0 1.5em;
        margin-right: -0.5em;
        background: transparent;
        border: none;
        cursor: pointer;
        float: right;
        &:hover{
          background: $primary_color;
          color:white;
        }
      }
    }
    .content{
      padding: 1em;

      /* INTEMPLATES */
      .ammount{
        background: white;
        line-height: 2em;
        border: 1px solid darkgray;
        width: 2.5em;
        text-align: center;

        &:focus{
          border-color: $primary_color;
          outline: none;
        }
      }
      .buy {
        cursor: pointer;
        line-height: 2em;
        font-size: 120%;
        color: white;
        padding: 0 1em;
        background: rgb(39, 140, 68);
        border: none;
        white-space: nowrap;
      }
      .remove {
        @extend .buy;
        background-color: rgb(204, 128, 86);
      }
      .basket-product{
        @include multyCollumn;
        img{
          @include lazyLoadImage;
          max-width: 15em;
          min-height: 5em;
        }
        .price {
          font-size: 140%;
        }
      }
      .basket-checkout {
        @include multyCollumn;
        & > *:last-of-type{
          max-width: 6em;
        }
        .item{
          padding: .5em;

          p:last-of-type *{
            display: inline-block;
            line-height: 2em;
            box-sizing: border-box;
            height:30px;
            margin: 0 .5em;
          }
          img{
            height: 5em;
            margin-right: 1em;
            float: left;
          }
          .price{
            display: inline !important;
            width: 6em;
          }
          .remove {
            font-size: 90%;
            float:right;
          }
          .result-price {
            color: darkgray;
          }
        }
        .item:not(:last-of-type) {
          border-bottom: 1px solid lightgray;
        }
        .total-price {
          border: 2px solid $primary_color;
          padding: .5em;
          background: rgb(201, 235, 242);
          .value {
            display: block;
            margin-top: .2em;
            font-size: 130%;
          }
        }
        form {
          margin-top: 1em;
          input{
            background: white;
            border: 1px solid lightgray;
            display: block;
            width: 100%;
            margin: .3em 0;
            box-sizing: border-box;
            padding: 0 .5em;
            line-height: 2em;
            &:focus{
              border-color: $primary_color;
            }
          }
          textarea {
            @extend input;
            resize: vertical;
            padding: .2em .5em;
            line-height: 1.3em;
            min-height: 8em;
            max-height: 20em;
          }
          input[type="submit"]{
            background: rgb(39, 140, 68);
            color: white;
            border: 1px solid rgb(39, 140, 68);
          }
        }
      }
    }
  }
}
.modalmode {
  overflow: hidden;
  .modalbox {
    opacity: 1;
    pointer-events: all;
  }
}
.states {
  text-align: center;
  float: left;
  img {
    height: 5em;
    display: block;
    margin: .5em 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
  }
}

@import "./mobile.scss";
